@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

.background{
    background: url('../img/finance.jpeg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
}

.home{
    width: 97vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.home h1{
    text-align: center;
    color: #66b3c1f3;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    text-shadow: 2px 1px rgb(0, 0, 0);
}

@media (max-width: 800px){
    .home h1{
        font-size: 30px;
    }
}